@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 204 50% 8%;  --foreground: 204 5% 90%;  --card: 204 50% 8%;  --card-foreground: 204 5% 90%;  --popover: 204 50% 5%;  --popover-foreground: 204 5% 90%;  --primary: 204 100% 31%;  --primary-foreground: 0 0% 100%;  --secondary: 204 30% 10%;  --secondary-foreground: 0 0% 100%;  --muted: 166 30% 15%;  --muted-foreground: 204 5% 60%;  --accent: 166 30% 15%;  --accent-foreground: 204 5% 90%;  --destructive: 0 100% 30%;  --destructive-foreground: 204 5% 90%;  --border: 204 30% 18%;  --input: 204 30% 18%;  --ring: 204 100% 31%;  --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
    scrollbar-width: thin;
  scrollbar-color: #888 #1e1e1e;
  scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    scrollbar-face-color: #888;
    scrollbar-track-color: #1e1e1e;
    scrollbar-arrow-color: #888;
    scrollbar-shadow-color: #1e1e1e;
    max-height: 100dvh;
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}